.setupPreview{
    margin: 30px 0px;
    /*border: 1px solid #373D41;
    border-style: dashed;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;*/
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.preview {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    margin-bottom: 1rem;
}
.header{
    width:calc(100% - 20px);
    color:white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 10px;
    font-family: Alexandria;
    font-size: 20px;
    font-weight: 600;
}

.solutionHeader{
    color:white;
    margin: 5px 0px;
    font-size:18px;
    font-family: Alexandria;
    font-weight: 400;
}

.setupFumen{
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: min-content;
}

.setupFumen > canvas,.solutionFumen > canvas{
    height:100px
}