.methodPreview{
    position: relative;
    font-family: Alexandria;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: #282732;
    border-radius: 5px;
    margin:10px 0px;
    font-size: 20px;
    z-index: 0;
    color:white;
    font-weight: normal;
}

.methodPreview.complete{
    padding: 8px;
    margin: 8px 0;
}

.methodPreview.complete::before {
    background-color: #8d6b28;
}

.methodPreview::before{
    content: '';
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--progress);
    background: #264353;
    transition: all 0.2s ease;
    z-index: -1;
}


.methodPreview:hover{
    font-weight: 600;
}

.methodPreview.complete:hover::before{
    background-color: #97732b;
}

.methodPreview:hover::before{
    background: #2a4b5d;
    width: 100%;
}