p {
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    column-gap: var(--content-gap);
}

.setCard {
    position: relative;
    display: contents;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

hr {
    border-color: var(--border-color);
}

h2 {
    margin: 0;
}

.setCard > hr {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
}

.setTitle {
    text-align: left;
    align-self: center;
    font-size: var(--font-size-set-title);
}

.setDescription {
    text-align: left;
    align-self: center;
    display: -webkit-box; /* Enable flexbox behavior */
    font-size: var(--font-size-set-description);
    color: var(--description-color);
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;

    /* Limit to 3 lines */
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.setCard:hover {
    background-color: rgba(69, 150, 255, 0.1);
}

.setCard.selected {
    background-color: rgba(69, 150, 255, 0.2);
    border: 1px solid var(--accent-color);
}

.setAuthor {
    align-self: center;
    display: flex;
}

.setAuthor > a {
    color: var(--accent-color);
    align-self: center;
    font-size: var(--font-size-author-info);
    font-weight: 800;
    margin-left: 3px;
}

.setAuthor > img {
    height: 20px;
    border-radius: 50%;
}

.confirmButton {
    font-family: Alexandria;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.confirmButton:hover {
    background-color: #3578e5;
}

@media (max-width: 768px) {
    .sidebar {
        max-width: var(--sidebar-width-mobile);
        padding: var(--sidebar-padding-mobile);
    }

    .title {
        font-size: var(--font-size-title-small);
    }

    .content {
        grid-template-columns: 1fr;
        gap: var(--content-gap-mobile);
    }

    .setCard {
        padding: var(--set-card-padding);
    }

    .setTitle {
        font-size: var(--font-size-set-title-small);
    }

    .setDescription {
        font-size: var(--font-size-set-description-small);
    }

    .setInfo {
        font-size: var(--font-size-author-info-small);
    }

    .setCard > hr {
        margin: 10px 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .sidebar {
        max-width: var(--sidebar-width-medium);
    }

    .title {
        font-size: var(--font-size-title-small);
    }

    .setTitle {
        font-size: var(--font-size-set-title-small);
    }

    .setDescription {
        font-size: var(--font-size-set-description-small);
    }
}
