.container{
    color:white;
    text-align: left;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: calc(100% - 60px);
    justify-content: center;
    padding: 30px;
    padding-top: 20px;
    color: #47494e;
    font-weight: 600;
}

.titleWrapper{
    display: flex;
    position: relative;
}

.hr{
    align-self: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.title{
    overflow: hidden;
    flex-grow: 100;
}